---
import { paths } from "@utils/paths";
import { YtButton } from "@modules/common/YtButton/YtButton";
import { GoogleButton } from "@modules/common/GoogleButton/GoogleButton";
import type { Album, Artist } from "astro:db";
import Link from "@components/Link/Link.astro";
import DeleteAlbumDialog from "../DeleteAlbumDialog/DeleteAlbumDialog.astro";

export interface Props {
  album: typeof Album.$inferSelect;
  artist: typeof Artist.$inferSelect;
}

const { album, artist } = Astro.props;

const details =
  album.release || (album.sid && paths.albumRelease({ sid: album.sid }));
---

<div class="card-actions gap-1">
  <YtButton client:load title={album.title} name={artist.name} />
  <GoogleButton client:load title={album.title} name={artist.name} />
  <Link size="xs" href={paths.album(album.id)}>Show more</Link>
  {
    details && (
      <Link size="xs" href={details}>
        Details
      </Link>
    )
  }
  <Link size="xs" href={paths.review(album.id)}>Review</Link>
  <Link size="xs" href={paths.editAlbum(album.id)}>Edit</Link>
  <DeleteAlbumDialog album={album} artist={artist} />
</div>
