---
import { formatAlbum } from "@utils/format";
import type { Album, Artist } from "astro:db";
import {
  DialogTrigger,
  DialogContainer,
  DialogContent,
  DialogActions,
  DialogClose,
} from "@components/Dialog/Dialog";
import ReviewForm from "@modules/reviews/ReviewForm/ReviewFields.astro";
import Button from "@components/Button/Button.astro";

export interface Props {
  album: typeof Album.$inferSelect;
  artist: typeof Artist.$inferSelect;
}

const { album, artist } = Astro.props;
const dialogId = `dialog-review-album-${album.id}`;
const formId = `form-review-album-${album.id}`;
const formAction = `review-${album.id}`;

const action = Astro.locals.formData?.get("action");
console.log({ action, formAction });

if (Astro.locals.formData?.get("action") === formAction) {
  const text = Astro.locals.formData.get("text");
  const rate = Astro.locals.formData.get("rate");
  const albumId = Astro.locals.formData.get("albumId");

  console.log({ rate, text, albumId });
}
---

<DialogTrigger dialogId={dialogId} client:load>Review</DialogTrigger>
<DialogContainer id={dialogId}>
  <DialogContent>
    <h3 class="font-bold text-lg">
      {`Review ${formatAlbum({ album, artist })}`}
    </h3>
    <ReviewForm action={formAction} formId={formId} albumId={album.id} />
    <DialogActions>
      <DialogClose>Close</DialogClose>
      <Button form={formId} type="submit">Submit</Button>
    </DialogActions>
  </DialogContent>
</DialogContainer>
