---
import { jsonToCoversField } from "@server/coverArt";
import { formatAlbum } from "@utils/format";
import AlbumActions from "@modules/albums/AlbumCard/AlbumActions.astro";
import CoversCarousel from "@modules/common/CoversCarousel.astro";
import type { Album, Artist } from "astro:db";

export type Props = {
  album: typeof Album.$inferSelect;
  artist: typeof Artist.$inferSelect;
};

const { album, artist } = Astro.props;

const header = formatAlbum({ album, artist });
const covers = jsonToCoversField(album.covers);
---

<article class="card card-side bg-base-300 w-full min-h-[250px]">
  <figure class="max-w-[500px]">
    <CoversCarousel covers={covers.large} header={header} />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{header}</h3>
    <AlbumActions album={album} artist={artist} />
  </div>
</article>
