---
import Layout from "@layouts/Layout.astro";
import { findAlbum } from "@server/albums";
import { formatAlbum } from "@utils/format";
import { paths } from "@utils/paths";
import EmptyPlaceholder from "@modules/common/EmptyPlaceholder/EmptyPlaceholder.astro";
import { minLength, object, safeParseAsync, string } from "valibot";
import CardGrid from "@modules/common/CardGrid/CardGrid.astro";
import AlbumCard from "@modules/albums/AlbumCard/AlbumCard.astro";
import ReviewCard from "@modules/reviews/ReviewCard/ReviewCard.astro";
import AlbumHero from "@modules/albums/AlbumHero/AlbumHero.astro";
import { findArtistAlbumsAndReviewsArgs } from "@server/artist";

const session = Astro.locals.session;

if (!session) {
  return Astro.redirect(paths.login);
}

const parseResult = await safeParseAsync(
  object({ id: string([minLength(1)]) }),
  Astro.params,
);

if (!parseResult.success) {
  return Astro.redirect(paths.error);
}

const albumRow = await findAlbum({
  albumId: parseResult.output.id,
});

if (!albumRow) {
  return Astro.redirect(paths.notFound);
}

const { Album: album, Artist: artist } = albumRow;

const { albums, reviews } = await findArtistAlbumsAndReviewsArgs({
  artistId: album.artistId,
});

const header = formatAlbum({ album, artist });
---

<Layout title={`${header} - Astro Albums`} userId={session.userId}>
  <main class="p-4 flex flex-col gap-4">
    <h2 class="text-xl font-bold">Album</h2>
    <AlbumHero artist={artist} album={album} />
    <h2 class="text-xl font-bold">Albums</h2>
    <CardGrid>
      {albums.map((entry) => <AlbumCard album={entry} artist={artist} />)}
    </CardGrid>
    {albums.length === 0 && <EmptyPlaceholder />}
    <h2 class="text-xl font-bold">Reviews</h2>
    <CardGrid>
      {
        reviews.map((entry) => (
          <ReviewCard review={entry} album={album} artist={artist} />
        ))
      }
    </CardGrid>
    {reviews.length === 0 && <EmptyPlaceholder />}
  </main>
</Layout>
