---
import type { Album, Artist } from "@prisma/client";
import { formatAlbum } from "@utils/format";
import { paths } from "@utils/paths";
import { AddReviewButton } from "./AddReviewButton/AddReviewButton";
import { YtButton } from "@modules/YtButton/YtButton";
import { GoogleButton } from "@modules/GoogleButton/GoogleButton";

export interface Props {
  album: Album;
  artist: Artist;
}

const { album, artist } = Astro.props;

const details =
  album.release || (album.sid && paths.albumRelease({ sid: album.sid }));

const title = formatAlbum({ album, artist });
---

<div class="card-actions gap-1">
  <YtButton client:load title={album.title} name={artist.name} />
  <GoogleButton client:load title={album.title} name={artist.name} />
  <a class="btn btn-xs" href={paths.album({ id: album.id })}>Show more</a>
  {
    details && (
      <a class="btn btn-xs" href={details}>
        Details
      </a>
    )
  }
  <AddReviewButton client:load albumId={album.id} title={title} />
</div>
