---
import { formatAlbum } from "@utils/format";
import { jsonToCoversField } from "@server/coverArt";
import AlbumActions from "@modules/AlbumActions/AlbumActions.astro";
import CoversCarousel from "@components/CoversCarousel/CoversCarousel.astro";
import clsx from "clsx";
import type { Album, Artist } from "astro:db";

export interface Props {
  album: typeof Album.$inferSelect;
  artist: typeof Artist.$inferSelect;
  reviews?: number;
  userId: string;
}

const { album, artist, reviews, userId } = Astro.props;

const header = formatAlbum({ album, artist });

const covers = jsonToCoversField(album.covers);
---

<article
  class={clsx("card card-side card-compact bg-base-300 w-full h-60", {
    "card-bordered border-green-400": reviews,
  })}
>
  <figure class="max-w-[250px]">
    <CoversCarousel header={header} covers={covers.small} />
  </figure>
  <div class="card-body">
    <h3 class="card-title line-clamp-2">{header}</h3>
    <AlbumActions album={album} artist={artist} userId={userId} />
  </div>
</article>
