---
import type { Album, Artist } from "@prisma/client";
import { formatAlbum } from "@utils/format";
import { jsonToCoversField } from "@server/coverArt";
import AlbumActions from "@modules/AlbumActions/AlbumActions.astro";
import CoversCarousel from "@components/CoversCarousel/CoversCarousel.astro";

export interface Props {
  album: Album;
  artist: Artist;
}

const { album, artist } = Astro.props;

const title = formatAlbum({ album, artist });

const covers = jsonToCoversField(album.covers);
---

<article class="card card-side card-compact bg-base-300 w-full h-60">
  <figure class="max-w-[250px]">
    <CoversCarousel title={title} covers={covers.small} />
  </figure>
  <div class="card-body">
    <h3 class="card-title line-clamp-2">{title}</h3>
    <AlbumActions album={album} artist={artist} />
  </div>
</article>
