---
import Layout from "@layouts/Layout.astro";
import AlbumSearch from "@modules/albums/AlbumSearch/AlbumSearch.astro";
import {
  integer,
  minValue,
  number,
  object,
  optional,
  safeParseAsync,
  string,
} from "valibot";
import AlbumSearchResults from "@modules/albums/AlbumSearchResults/AlbumSearchResults.astro";
import RandomAlbums from "@modules/albums/RandomAlbums/RandomAlbums.astro";
import { Card } from "@components/Card/Card";

const session = Astro.locals.session;

if (!session) {
  return Astro.redirect("/login");
}

const parseResult = await safeParseAsync(
  object({
    page: optional(number([minValue(0), integer()]), 0),
    query: optional(string(), ""),
  }),
  Object.fromEntries(Astro.url.searchParams.entries()),
);

if (!parseResult.success) {
  return Astro.redirect("/error");
}

const { page, query } = parseResult.output;
---

<Layout title="Welcome to Astro." userId={session.userId}>
  <main class="p-4 flex flex-col gap-4">
    <Card bg="base-300" size="compact">
      <div class="card-body flex gap-2">
        <AlbumSearch query={query} />
      </div>
    </Card>
    {
      query.length > 0 ? (
        <AlbumSearchResults page={page} query={query} />
      ) : (
        <RandomAlbums userId={session.userId} />
      )
    }
  </main>
</Layout>
