---
import Layout from "@layouts/Layout.astro";
import { getUser } from "@server/supabase";
import { findRandomAlbums } from "@server/albums";
import AlbumCard from "@components/AlbumCard/AlbumCard.astro";
import AlbumDetails from "@components/AlbumDetails/AlbumDetails.astro";

const user = await getUser(Astro.request);

if (!user) {
	return Astro.redirect("/login");
}

const skipParam = parseInt(Astro.url.searchParams.get("skip") || "") || null;
const idParam = Astro.url.searchParams.get("id");

const { albums, skip } = await findRandomAlbums({
	take: 20,
	userId: user.id,
	skip: skipParam,
});
---

<Layout title="Welcome to Astro." user={user}>
	<main class="p-4">
		<h1>Random Albums</h1>
		<pre>{JSON.stringify({skipParam, idParam}, null, 2)}</pre>
		<div class="flex flex-row">
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2">
				{
					albums.map((album) => (
						<AlbumCard album={album} artist={album.artist} skip={skip} />
					))
				}
			</div>
			<div>
				{
					idParam ? (
						<AlbumDetails albumId={idParam} skip={skip} userId={user.id} />
					) : null
				}
			</div>
		</div>
	</main>
</Layout>
