---
import Layout from "@layouts/Layout.astro";
import ReviewActivityCard from "@modules/reviews/ReviewActivity/ReviewActivityCard.astro";
import ReviewSearch from "@modules/reviews/ReviewSearch.astro";
import ReviewSearchResults from "@modules/reviews/ReviewSearchResults/ReviewSearchResults.astro";
import { paths } from "@utils/paths";
import { z } from "astro/zod";

const session = Astro.locals.session;

paths;
if (!session) {
  return Astro.redirect(paths.login);
}

const params = Object.fromEntries(Astro.url.searchParams.entries());
const parseResult = await z
  .object({
    lower: z.coerce.number().min(0).max(10).default(0),
    page: z.coerce.number().min(0).int().default(0),
    query: z.string().default(""),
    upper: z.coerce.number().min(0).max(10).default(10),
    order: z
      .union([z.literal("createdAt"), z.literal("rate")])
      .default("createdAt"),
  })
  .safeParseAsync(params);

if (!parseResult.success) {
  return Astro.redirect(paths.error);
}

const { lower, order, query, upper } = parseResult.data;
---

<Layout title="Reviews" userId={session.userId}>
  <main class="p-4 flex flex-col gap-4">
    <ReviewActivityCard />
    <ReviewSearch lower={lower} upper={upper} query={query} order={order} />
    <ReviewSearchResults />
  </main>
</Layout>
