---
import Pagination from "@components/Pagination/Pagination.astro";
import Layout from "@layouts/Layout.astro";
import { countReviewsByDates, findReviews } from "@server/reviews";
import { paths } from "@utils/paths";
import { ReviewSearch } from "@modules/reviews/ReviewSearch/ReviewSearch";
import EmptyPlaceholder from "@modules/common/EmptyPlaceholder/EmptyPlaceholder.astro";
import ReviewActivity from "@modules/reviews/ReviewActivity/ReviewActivity.astro";
import {
  integer,
  literal,
  maxValue,
  minValue,
  number,
  object,
  optional,
  safeParseAsync,
  string,
  union,
} from "valibot";
import CardGrid from "@modules/common/CardGrid/CardGrid.astro";
import ReviewCard from "@modules/reviews/ReviewCard/ReviewCard.astro";
import { Card, CardBody } from "@components/Card/Card";

const session = Astro.locals.session;

if (!session) {
  return Astro.redirect(paths.login);
}

const parseResult = await safeParseAsync(
  object({
    lower: optional(number([minValue(0), maxValue(10)]), 0),
    page: optional(number([minValue(0), integer()]), 0),
    query: optional(string(), ""),
    upper: optional(number([minValue(0), maxValue(10)]), 10),
    order: optional(
      union([literal("createdAt"), literal("rate")]),
      "createdAt",
    ),
  }),
  Object.fromEntries(Astro.url.searchParams.entries()),
);

if (!parseResult.success) {
  return Astro.redirect(paths.error);
}

const take = 20;
const { lower, order, page, query, upper } = parseResult.output;

const [{ count, reviews }, groups] = await Promise.all([
  findReviews({ skip: take * page, take }),
  countReviewsByDates(),
]);

const maxPage = Math.ceil(count.length / take);
---

<Layout title="Reviews" userId={session.userId}>
  <main class="p-4 flex flex-col gap-4">
    <Card bg="base-300" size="compact">
      <CardBody>
        <ReviewActivity groups={groups} />
      </CardBody>
    </Card>
    <Card bg="base-300" size="compact">
      <div class="card-body flex gap-2">
        <ReviewSearch
          client:idle
          lower={lower}
          upper={upper}
          query={query}
          order={order}
        />
      </div>
    </Card>
    <CardGrid>
      {
        reviews.map((entry) => (
          <ReviewCard
            album={entry.Album}
            artist={entry.Artist}
            review={entry.Review}
          />
        ))
      }
    </CardGrid>
    {reviews.length === 0 && <EmptyPlaceholder />}
    <Pagination
      current={page}
      maxPage={maxPage}
      nextHref={paths.reviews({ page: page + 1 })}
      prevHref={paths.reviews({ page: page - 1 })}
    />
  </main>
</Layout>
