---
import type { Album, Artist, Review } from "@prisma/client";
import { formatAlbum } from "@utils/format";
import { frontCover } from "@server/coverArt";
import AlbumActions from "@components/AlbumActions/AlbumActions.astro";

export interface Props {
  album: Album;
  artist: Artist;
  reviews: Review[];
}

const { album, artist, reviews } = Astro.props;

const title = formatAlbum({ album, artist });
---

<article class="card card-side bg-base-300 w-full">
  <figure class="w-56">
    <img class="w-56" src={frontCover(album.sid)} alt={title} />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{title}</h3>
    <AlbumActions album={album} artist={artist} />
    {reviews.map((review) => <pre>{JSON.stringify(review, null, 2)}</pre>)}
  </div>
</article>
