---
import Layout from "@layouts/Layout.astro";
import { formatAlbum } from "@utils/format";
import { paths } from "@utils/paths";
import AlbumHero from "@modules/albums/AlbumHero.astro";
import { actions, z } from "astro:actions";
import { findReview } from "@server/data/reviews";
import EditReviewForm from "@modules/reviews/ReviewForms/EditReviewForm.astro";

const session = Astro.locals.session;

paths;
if (!session) {
  return Astro.redirect(paths.login);
}

const parseResult = await z
  .object({ id: z.string().min(1) })
  .safeParseAsync(Astro.params);

if (!parseResult.success) {
  return Astro.redirect(paths.error);
}

const reviewRow = await findReview({
  reviewId: parseResult.data.id,
});

if (!reviewRow) {
  return Astro.redirect(paths.notFound);
}

const {
  Album: album,
  Artist: artist,
  Review: review,
  Reminder: reminder,
} = reviewRow;

const actionResult = Astro.getActionResult(actions.updateReview);
if (actionResult?.data?.success) {
  return Astro.redirect(paths.album(album.id));
}

const header = formatAlbum({ album, artist });
---

<Layout title={`${header} - Astro Albums`} userId={session.userId}>
  <main class="p-4 flex flex-col gap-4">
    <h2 class="text-xl font-bold">Album</h2>
    <AlbumHero artist={artist} album={album} reminder={reminder} />
    <h2 class="text-xl font-bold">Edit Review</h2>
    <EditReviewForm review={review} />
  </main>
</Layout>
